/* App container styling */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  font-size: calc(1rem + 0.5vw);
  justify-content: center;
  /* Center content vertically */
}

/* Fixed top navbar styling */
.content-topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  /* Responsive height */
  background-color: #222;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Top Navbar CSS */
.top-navbar-custom {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /* Ensure it stays above other content */
}

/* Content body styling */
.content-body {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  /* Offset for the fixed topbar */
  height: calc(100vh - 100px);
  /* Height minus topbar height */
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #202123;
  color: #fff;
  padding: 2vw;
  box-sizing: border-box;
  /* Ensure padding is considered in the height calculation */
}

/* Main section styling */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

/* Bottom section styling */
.bottom-section {
  display: flex;
  height: 100%;
  overflow-y: auto;
}

/* Column widths and styling */
.left-col {
  padding: 1rem;
  overflow-y: auto;
}

.right-col {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  max-height: calc(100vh - 20vh);
  /* Adjusts height to fit within the viewport */
  box-sizing: border-box;
  /* Ensure padding is considered in the height calculation */
}

/* Optional: Add some space around the form */
.right-col .form-container {
  margin: 0 auto;
  max-width: 40vw;
  /* Relative width for scalability */
}

/* Styling for posts */
.post {
  background-color: #fff;
  padding: 2vw;
  margin-bottom: 1vw;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  /* Ensure text wraps to avoid overflow */
}

.title {
  font-size: calc(1.5rem + 0.5vw);
  font-weight: bold;
  margin-bottom: 0.5vw;
}

.body {
  font-size: calc(1rem + 0.3vw);
  margin-bottom: 1vw;
}

.footer {
  font-size: calc(0.8rem + 0.2vw);
  color: #7f8c8d;
  text-align: right;
}

/* Info text styling */
.info {
  color: rgba(241, 233, 233, 0.7);
}

/* Media Queries for Different Screen Sizes */
@media (max-width: 1024px) {
  .sidebar {
    width: 25vw;
  }

  .right-col .form-container {
    max-width: 80vw;
  }
}

@media (max-width: 768px) {
  .sidebar {
    width: 35vw;
  }

  .content-topbar {
    height: 8vh;
  }

  .content-body {
    margin-top: 8vh;
    height: calc(100vh - 8vh);
  }

  .right-col .form-container {
    max-width: 90vw;
  }
}