* {
    color: #fff;
    /* Text color for all elements */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* Global font family */
}

.app {
    display: flex;
    /* Flexbox layout for app */
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
}

/* styles.css */
/* Content body styling */
.body {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    /* Offset for the fixed topbar */

    overflow-y: auto;
    background-color: #202123;
    color: #fff;
    padding: 2vw;
    /* Use relative padding */
}